<header id="header">
	<div class="hc-top clearfix">
		<div class="title-hc fl">
			<img class="img-responsive" src="../../img/logo.png" />
		</div>
		<div class="hc-menu fl">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="">仓库管理</a></li>
				<li><a href="">运输管理</a></li>
				<li><a href="vehicleTracking/vehicleTracking.html">车辆跟踪</a></li>
				<li><a href="">签收管理</a></li>
				<li><a href="">结算管理</a></li>
				<li><a href="">基础设施</a></li>
				<li><a href="">系统管理</a></li>
			</ul>
		</div>
	</div>
	<div class="login clearfix">
		<img src="../../img/user.png" alt="">
		<a href="login.html">登录</a>
	</div>
</header>