<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>潢川电子商务进农村</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../../css/reset.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<link href="../../css/zheng/admin.css" rel="stylesheet" />
	<link href="../../css/zheng/index.css" rel="stylesheet" />
	<script src="../../lib//jquery.1.11.3.min.js"></script>
	<!-- <link href="../../lib/elementui/theme-chalk/index.css" rel="stylesheet"/> -->
</head>

<body>
	<div id="app">
		<!-- <header id="header">
			<div class="hc-top clearfix">
				<div class="title-hc fl">
					<img class="img-responsive" src="../../img/logo.png" />
				</div>
				<div class="hc-menu fl">
					<ul>
						<li><a href="">首页</a></li>
						<li><a href="">仓库管理</a></li>
						<li><a href="">运输管理</a></li>
						<li><a href="">车辆跟踪</a></li>
						<li><a href="">签收管理</a></li>
						<li><a href="">结算管理</a></li>
						<li><a href="">基础设施</a></li>
						<li><a href="">系统管理</a></li>
					</ul>
				</div>
			</div>
			<div class="login clearfix">
				<img src="../../img/user.png" alt="">
				<a href="login.html">登录</a>
			</div>
		</header> -->
		<div class="main-page">
			<div class="page-con">
				<div class="page-news" id="page-news">
					<!-- <img src="../../img/banner.jpg" alt="" width="437" height="322">
					<h1>潢川县召开第三次国土调查暨农村房屋不动产登记会议</h1>
					<div class="content">
						<p>12月13日下午，潢川县第三次国土调查暨农村房屋不动产登记会议在县政府五楼会议室召开。县长兰恩民，副县长胡峰，潢川开发区管委会副主任刘声华出席会议，各乡镇办事处、黄湖农场、产业集聚区及县直相关单位主要负责人参加了会议。
						</p>
						<p>12月13日下午，潢川县第三次国土调查暨农村房屋不动产登记会议在县政府五楼会议室召开。县长兰恩民，副县长胡峰，潢川开发区管委会副主任刘声华出席会议，各乡镇办事处、黄湖农场、产业集聚区及县直相关单位主要负责人参加了会议。
						</p>
					</div> -->
				</div>
			</div>
		</div>
		<footer id="footer">
			<div style="height: 62px;"></div>
			<div class="yq-link">
				<ul>
					<li>
						<h1>友情链接</h1>
						<p>河南华阁供应链科技有限公司</p>
						<p>上海阁为信息科技有限公司</p>
						<p>河南华英农业发展股份有限公司</p>
					</li>
					<li>
						<h1>物流</h1>
						<p>快递服务</p>
						<p>物流服务</p>
						<p>冷链服务</p>
					</li>
					<li>
						<h1>服务与支持</h1>
						<p>我要寄</p>
						<p>运单追踪</p>
						<p>服务网点</p>
						<p>运费、时效查询</p>
					</li>
					<li>
						<h1>关于我们</h1>
						<p>公司简介</p>
						<p>新闻资讯</p>
						<p>人才招聘</p>
					</li>
					<li>
						<h1>联系我们</h1>
						<p>座机：0376-8888888</p>
						<p>全国热线：4001234567</p>
					</li>
					<li>
						<h1>马上联系我们</h1>
						<img src="../../img/wechat-icon.png" alt="">
					</li>
				</ul>
			</div>
			<div class="copyright">Copyright © 2018 上海阁为信息科技有限公司 版权所有 沪ICP备17022322号-2</div>
		</footer>
	</div>
	<script src="../../js/zheng/page.js"></script>
</body>

</html>