<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>角色管理</title>
		<link href="../../css/reset.css" rel="stylesheet"/>
		<link href="../../css/style.css" rel="stylesheet"/>
		<link href="../../lib/elementui/theme-chalk/index.css" rel="stylesheet"/>
		<link href="../../css/zheng/admin.css" rel="stylesheet"/>
		<link href="../../css/common/sideBar.css" rel="stylesheet"/>
		<link href="../../css/view/role.css" rel="stylesheet"/>
		<style type="text/css">
			[v-cloak] {display: none;}	
			.table .el-table--small{
				font-size: 12px;
			}
			.table .el-table--small td,.table .el-table--small th{
				padding: 8px 0;
			}
		</style>
	</head>

	<body>
		<div id="app" class="rightSideBar" v-cloak>
			<el-row>
				<el-button type="text" icon="el-icon-circle-plus-outline" @click="handleAdd">新增</el-button>
				<el-button type="text" icon="el-icon-edit-outline" @click="handleEdit">编辑</el-button>
				<el-button type="text" icon="el-icon-delete" @click="handleDelete">删除</el-button>			
			</el-row>
			<el-row v-loading="loading">
				<el-col :span="9">
					<!--表格-->
					<div class="table">
						<el-table
						ref="roleColumn"
						:data="roleList"
						tooltip-effect="dark"
						style="width: 100%"
						border
						size="small"
						header-row-class-name="headBgColor hideCheckbox"
						@selection-change="handleSelectionChange">
							<el-table-column type="selection" width="55" align="center"></el-table-column>
								<el-table-column v-for="(column,index) in roleColumn" :show-overflow-tooltip="true" :label="column.label" :fixed="column.fixed" :width="column.width ? column.width:''"
								:prop="column.value" align="center" :key="column.value"></el-table-column>
						</el-table>
					</div>
				</el-col>
				<el-col :span="14" :offset="1">
					<!--表格-->
					<div class="table">
						<div class="treeTitle">
					        <div class="left">权限名称</div>
					        <div class="right">
					            <span class="spanItem">权限级别</span>
					            <span class="spanItem describe">描述</span>
					        </div>
					    </div>
					    <el-tree
					      :data="menuList"
					      show-checkbox
					      node-key="id"
					      default-expand-all
					      :props="defaultProps"
					      ref="tree"
					      :expand-on-click-node="false">
					      <div class="custom-tree-node" slot-scope="{ node, data }">
					        <span class="left">{{data.menuName}}</span>
					        <div class="right">
					            <div class="rightItem"><span>{{data.permissionLevels | authType}}</span></div>
					            <div class="rightItem describe">
					                <span class="span" v-if="data.descrtption && data.descrtption.length<25">{{data.descrtption}}</span>
					                <el-tooltip v-else :content="data.descrtption" placement="top">
					                    <span class="span">{{data.descrtption}}</span>
					                </el-tooltip>
					            </div>
					        </div>
					      </div>
					    </el-tree>
					</div>
				</el-col>
			</el-row>
			<el-row style="text-align:center;margin-top:80px;">
                <el-button size="medium" type="primary" @click="saveInfo" :loading="btnloading">保存</el-button>
            </el-row>
			<!--弹出框-->
			<el-dialog :title="title" :visible.sync="dialogFormVisible" :before-close="formClose" center>
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-form-inline">
					<el-col v-for="item in searchList" :span="item.span?item.span: 12" :key="item.value">
						<el-form-item :label="item.label" :prop="item.value" :label-width="item.width?item.width:'100px'">
							<!-- 输入框 -->
							<el-input v-if="item.types === 'input'" :type="item.otherType?item.otherType: 'text'" size="small" v-model="ruleForm[item.value]" :placeholder="item.placeholder" :disabled="item.disabled"></el-input>

							<!--选择器-->
							<el-select v-else-if="item.types === 'select'" size="small" v-model="ruleForm[item.value]" :placeholder="item.placeholder" style="width:100%;" :disabled="item.disabled">
								<el-option v-for="(opt,o) in item.options" :key="o" :label="opt.label" :value="opt.value">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="saveMsg">保存</el-button>
				</div>
			</el-dialog>
		</div>
		<script type="text/javascript" src="../../lib/jquery.1.11.3.min.js"></script>
		<script type="text/javascript" src="../../lib/jquery.cookie.js" ></script>
		<script type="text/javascript" src="../../lib/vue.js"></script>
		<script type="text/javascript" src="../../lib/elementui/index.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../lib/message/message.min.js" ></script>
		<script type="text/javascript" src="../../api/easy.cookie.js"></script>
		<script type="text/javascript" src="../../api/easy.config.js"></script>
		<script type="text/javascript" src="../../api/easy.ajax.js"></script>

		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: function(){				
					var searchList = [
						{
							types: 'input',
							label: '名称',
							placeholder: '请输入名称',
							value: 'partName'
						},
						{
							types: 'input',
							label: '编码',
							placeholder: '请输入编码',
							value: 'code'
						},
						{
							types: 'input',
							label: '描述',
							placeholder: '请输入描述',
							otherType: 'textarea',
							value: 'description',
							span: 24
						}
					]
					var forms = {};
					if(searchList){
						searchList.forEach(item => {
		                    if (!item.value) return
		                    if (item.types === 'checkbox') {
		                        forms[item.value] = []
		                    } else {
		                        forms[item.value] = ''
		                    }
		                })
						forms.id = ''
					}
					return {
						title: '',
						loading: false,
						btnloading: false,
						dialogFormVisible: false,
						multipleSelection: [], // 多选
						ruleForm: forms,
						roleColumn: [
							{label: '名称',value: 'partName'},
							{label: '描述',value: 'description'}
						],
						menuColumn: [
							{label: '权限名称',value: 'menuName'},
							{label: '权限级别',value: 'permissionLevels'},
							{label: '描述',value: 'descrtption'}
						],
						searchList: searchList,
						roleList: [],
						menuList: [],
						rules: {
							partName: [{required: true, message: '请输入名称', trigger: 'blur' }],
							code: [{required: true, message: '请输入编码', trigger: 'blur' }]
						},
						defaultProps: {
				          children: 'child',
				          label: 'menuName'
				        }
						
					}
				},
				computed: {
					handleId: function(){
						var id = [];
						if(this.multipleSelection.length > 0){
							this.multipleSelection.forEach(function(item){
								id.push(item.id)
							})
						}
						return id;
					}
				},
				created: function(){
					this.getData();
				},
				filters: {
					authType: function(val){
						switch(val){
							case 0:
								return '普通用户级别';
								break;
							case 1:
								return '超级用户级别';
								break;
						}
						
					}
				},
				methods: {
					getData: function(){
						var _this = this;
						EasyAjax.ajax_Post_Json({
							url: 'role/queryRole'
						},function(res){
							if(res.success === true){
								_this.roleList = res.data.roleList;
								_this.menuList = res.data.menuList;
							}
						})
					},
					handleAdd: function(){
						this.title = '新增';
						this.dialogFormVisible = true;
						this.initForm();
					},
					handleEdit: function(){
						if(this.multipleSelection.length === 0){
							this.$message.error('请先勾选编辑列表');
							return false;
						}
						
						if(this.multipleSelection.length > 1){
							this.$message.error('只能同时编辑一个列表信息');
							return false;
						}
						this.title = '编辑';
						this.dialogFormVisible = true;
						this.initForm(this.multipleSelection[0]);
					},
					handleDelete: function(){
						var _this = this;
						if(this.multipleSelection.length === 0){
							this.$message.error('请先勾选删除列表');
							return false;
						}
						this.$confirm('是否确定删除?', '提示', {
				          confirmButtonText: '确定',
				          cancelButtonText: '取消',
				          type: 'warning'
				        }).then(function(){
				          	EasyAjax.ajax_Post_Json({
								url: 'role/deleteRole',
								data: JSON.stringify(_this.handleId)
							},function(res){
								if(res.success === true){
									_this.getData();
									_this.$message.success('删除成功');
								}
							})
				        });
					},
					// 保存弹出框信息
					saveMsg: function(){
						var _this = this;
						this.$refs.ruleForm.validate(function(valid) {
							if(valid){
								if(_this.title === '新增'){
									_this.saveDate('role/addRole');
								}else{
									_this.saveDate('role/updRole');
								}
							}
						})
						
					},
					saveDate: function(url){
						var _this = this;
						var data = Object.assign({}, this.ruleForm);
						if(this.title === '新增') delete data.id
						EasyAjax.ajax_Post_Json({
							url: url,
							data: JSON.stringify(data)
						},function(res){
							if(res.success === true){
								_this.dialogFormVisible = false;
								_this.getData();
								_this.$message.success(res.message);
							}
						})
					},
					// 保存全部信息
					saveInfo: function(){
						var _this = this,
							roleIds = this.handleId,
							menuIds = this.$refs.tree.getCheckedKeys();
							console.log(menuIds, 'menuIds')
						if(roleIds.length === 0){
							this.$message.error('请先选择角色');
							return false;
						}
						if(menuIds.length === 0){
							this.$message.error('请先选择权限');
							return false;
						}
						var data = {
							roleIds: roleIds,
							menuIds: menuIds
						}
						EasyAjax.ajax_Post_Json({
							url: 'role/saveRoleMenu',
							data: JSON.stringify(data)
						},function(res){
							if(res.success === true){
								_this.$refs.roleColumn.clearSelection(); // 清空角色
								_this.$refs.tree.setCheckedKeys([]); // 清空菜单
								_this.$message.success(res.message);
							}
						})
						
					},
					formClose: function(){
						this.dialogFormVisible = false;
						this.multipleSelection = [];
					},
					handleSelectionChange: function(val){
						this.multipleSelection = val;
					},
					// 给form赋值
			        initForm: function(obj) {
			        	let _this = this;
			        	if(obj){
			        		for (var key in this.ruleForm) {
				                this.ruleForm[key] = obj[key]
				            }
			        	}else{
			        		for (var key in this.ruleForm) {
				                this.ruleForm[key] = ''
				            }
			        	}
			            
			            this.$nextTick(function(){
			                if (_this.$refs.ruleForm && _this.$refs.ruleForm.clearValidate) {
			                    _this.$refs.ruleForm.clearValidate()
			                }
			            })
			        }
					
				}
			})
		</script>
	</body>

</html>